{% extends 'base.html' %}

{#页面标题#}
{% block title %}我的网站{% endblock %}

{#选中标签后，出现激活状态#}
{% block nav_blog_active %}active{% endblock %}

{#引用blog.css文件#}
{% load static %}
{% load comment_tags %}    {# 引用templatetags中的comment_tags #}

{% block header_extends %}<link rel="stylesheet" href="{% static 'blog/blog.css' %}" {% endblock %}

{#页面内容#}
{% block content %}
    <div class="container">
        <div class="row">
            {#页面分为8:4两部分#}
            <div class="col-xs-12 col-md-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    {#通过过滤器，得到长度，计算有多少博客；{{ blogs_count }} 第二种计算方法就不需要了#}
                    {#为了blogs_with_type的引用，创建一个块#} {# 分页后，通过分页器获取全部博客数量 #}
                    <div class="panel-heading">{% block blog_list_title %}博客列表{% endblock %}</div>
                    <div class="panel-body">
                        {# page_of_blogs.objects_list表示分页后页面的每一篇博客 #}
                        {% for blog in blogs %}
                            {#这是一个blog#}
                            <div class="blog">
                                {#标题#}
                                <h3><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h3>
                                <p class="blog-info">
                                    {#&nbsp;是空格#}
                                    {#用图表代替分类、时间#}
                                    <span class="glyphicon glyphicon-tag"></span> <a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a>&nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-time"></span> {{ blog.created_time|date:"Y-m-d" }}&nbsp;&nbsp;
                                    阅读({{ blog.get_read_num }})    {#显示阅读计数#}&nbsp;&nbsp;
                                    评论({% get_comment_count blog %})    {# 对本篇博客的评论统计，所以传入blog #}
                                </p>

                                {#文本内容。|是过滤器，通过过滤只显示个字，这里是以char为单位，也可以以words为单位#}
                                {#富文本：将html的标签去掉，保留里面的内容#}
                                <p>{{ blog.content|striptags|truncatechars_html:120 }}</p>
                            </div>
                        {% empty %}
                            <div class="blog"><h3>-- 暂无博客，敬请期待 --</h3></div>
                        {% endfor %}
                    </div>
                </div>

                {#添加页码#}
                <div class="paginator">
                    <ul class="pagination">
                        {#上一页#}
                        <li>
                            {#判断是否有上一页，有就给一个a标签#}
                            {% if page_of_blogs.has_previous %}
                                <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                    <span aria-label="true">&laquo;</span>
                                </a>
                            {#没有则给一个黑色标签#}
                            {% else %}
                                <span aria-label="true">&laquo;</span>
                            {% endif %}
                        </li>

                        {#全部页码，并赋上链接#}
                        {% for page_num in page_range %}
                            {#判断是否为当前页,是则高亮，span是为了让当前页不可以点击#}
                            {% if page_num == page_of_blogs.number%}
                                <li class="active"><span>{{ page_num }}</span></li>
                            {% else %}
                                {#判断是否为...并将其设置为不可点#}
                                {% if page_num == '...' %}
                                    <li><span>{{ page_num }}</span> </li>
                                {% else %}
                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {#下一页#}
                        <li>
                            {#判断是否有下一页，有就给一个a标签#}
                            {% if page_of_blogs.has_next %}
                                <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                    <span aria-label="true">&raquo;</span>
                                </a>
                            {#没有则给一个黑色标签#}
                            {% else %}
                                <span aria-label="true">&raquo;</span>
                            {% endif %}
                        </li>
                    </ul>
                    <p>
                        共有{{ page_of_blogs.paginator.count }}篇博客，
                        当前第{{ page_of_blogs.number }}页，共{{ page_of_blogs.paginator.num_pages }}页
                    </p>
                </div>
            </div>


            <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
                {#设置信息在blog.css中，需要引用#}
                <div class="panel panel-default">
                    <div class="panel-heading">博客分类</div>
                    <div class="panel-body">
                        {#ul:无序号的标签#}
                        <ul class="blog-types">
                            {% for blog_type in blog_types %}
                                 <li><a href="{% url 'blogs_with_type' blog_type.pk %}">{{blog_type.type_name }} ({{ blog_type.blog_count }})</a></li>
                            {% empty %}
                                {#li里是具体项目#}
                                <li>暂无分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">日期归档</div>
                    <div class="panel-body">
                        <ul>
                            {#修改前 {% for blog_date in blog_dates %} #}
                            {#传入为字典是#}
                            {% for blog_date, blog_count in blog_dates.items %}
                                {#格式化年月#}
                                <li>
                                    <a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">
                                        {#修改前{{ blog_date|date:"Y年m月" }}#}
                                        {{ blog_date|date:"Y年m月"}} ({{ blog_count }})
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
