{#引用base模板#}
{% extends 'base.html' %}

{#页面标题#}
{% block title %}我的网站|注册{% endblock %}

{#选中标签后，出现激活状态#}
{% block nav_home_active %}active{% endblock %}

{#页面内容#}
{% block content %}
    <div class="container">    {#美化注册页面#}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                {% if not user.is_authenticated %}    {# 判断未登录，让用户登录；已登录则跳到首页 #}
                    <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">注册</h3>
                    </div>
                    <div class="panel-body">
                        <form action="" method="POST">    {# 提示登录 action是提交到的网址，#表示当前网址 #}
                            {% csrf_token %}
                            {% for field in reg_form %}    {# Django Form方法 #}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>    {# 这里不明白 #}
                                {{ field }}
                                <p class="text-danger">{{ field.errors.as_text }}</p>    {# 错误信息 #}
                            {% endfor %}
                            <span class="text-danger">{{ reg_form.non_field_errors }}</span>    {# 全部的错误信息 #}
                            <div class="clearfix"></div>    {# 清除浮动：html布局问题 #}
                            <button id="send_code" class="btn btn-primary pull-left">发送验证码</button>    {# 验证码发送按钮 #}
                            <input type="submit" value="注册" class="btn btn-primary pull-right">    {# 登录按钮 #}
                        </form>
                    </div>
                </div>
                {% else %}
                    <span>已登录，跳转到首页...</span>
                    <script type="text/javascript">
                        window.location.href = '/';
                    </script>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{# 发送验证码按钮的代码块 #}
{% block script_extends %}
    <script type="text/javascript">
        $("#send_code").click(function(){
            var email = $("#id_email").val();    {# 得到邮箱地址 #}
            if(email==""){
                $("#tip").text('* 邮箱不能为空');
                return false;
            }

            {# 发送验证码 #}
            $.ajax({
                url: "{% url 'send_verification_code' %}",
                type: "GET",
                data: {
                    'email': email,
                    'send_for': 'register_code'
                },
                cache: false,
                success: function(data){
                    if(data['status']=='ERROR'){    {# 发送验证码的状态为ERROR #}
                        alert(data['status']);
                    }
                }
            });

            {# 发送验证码有时间间隔 #}
            $(this).addClass('disabled');    {# 按钮变灰 #}
            $(this).attr('disabled', true);    {# 按钮变灰 #}
            var time = 60;    {# 倒计时 #}
            $(this).text(time + 's');    {# 按钮变成倒计时 #}
            var interval = setInterval(() => {
                if(time <= 0){
                    clearInterval(interval);    {# 停止interval #}
                    $(this).removeClass('disabled');
                    $(this).attr('disabled', false);
                    $(this).text('发送验证码');    {# 变回发送验证码 #}
                    return false;    {# 终止倒计时程序 #}
                }

                time --;
                $(this).text(time + 's');
            }, 1000);
        });
    </script>
{% endblock %}